<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allandoamaralalves.upartyproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-library android:name="com.google.android.maps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="view.TelaMenuInicial"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="view.TelaMinhaConta"
            android:label="@string/title_activity_minha_conta" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAPSr5qNjWvmYsdKEDsf8d5IPv2HSg-efg" />

        <activity
            android:name="view.TelaMapaEventos"
            android:label="@string/title_activity_mapa_eventos" >
        </activity>
        <activity
            android:name="view.TelaCriarEvento"
            android:label="@string/title_activity_criar_evento" >
        </activity>
        <activity
            android:name="view.TelaCriarUsuario"
            android:label="@string/title_activity_criar_usuario" >
        </activity>
        <activity
            android:name="view.TelaVisualizarEvento"
            android:label="@string/title_activity_tela_visualizar_evento" >
        </activity>
        <activity
            android:name="view.TelaSolicitarMusica"
            android:label="@string/title_activity_solicitar_musica" >
        </activity>
        <activity
            android:name="view.TelaSelecionarDjs"
            android:label="@string/title_activity_selecionar_djs" >
        </activity>
    </application>

</manifest>
